header .grid-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

header .grid-container nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header .grid-container nav ul li {
  margin-left: 10px;
}
