header .grid-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
}

header .grid-container,
main section {
  width: 90%;
  margin: 0 auto;
}

header .grid-container nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header .grid-container nav > ul > a li,
header .grid-container nav > ul > button li,
header .grid-container nav > ul > li {
  margin-left: 10px;
  z-index: 5;
  padding-left: 0;
}

header .grid-container nav ul > li {
  position: relative;
}

header .grid-container nav ul li ul {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  width: 125px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

header .grid-container nav ul li ul li {
  padding: 5px;
}

header .grid-container nav ul li:hover ul {
  display: block;
}

header .grid-container nav ul a,
header .grid-container nav ul button,
header .grid-container nav ul > li {
  color: #3493db;
  text-decoration: none;
}

header .grid-container nav ul button {
  background: none;
  border: 0;
  padding: 0;
}

.login form,
.signup form {
  width: 30%;
  margin: 0 auto;
}

fieldset {
  border: 0;
  padding: 30px 15px;
}

@keyframes loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

fieldset::before,
fieldset::after {
  height: 10px;
  content: "";
  display: block;
  background-image: linear-gradient(
    to right,
    #3493db 0%,
    #fdff32 50%,
    #3493db 100%
  );
  margin-bottom: 20px;
}

fieldset[aria-busy="true"]::before,
fieldset[aria-busy="true"]::after {
  background-size: 50% auto;
  animation: loading 0.5s linear infinite;
}

fieldset::after {
  margin-top: 30px;
}

form input {
  width: 100%;
  border: 0;
  border-bottom: 3px solid #3493db;
  padding: 5px 10px;
}

form label {
  display: grid;
  grid-template-columns: 1fr 22fr;
  align-items: center;
  margin-bottom: 15px;
}

form label svg {
  width: 100%;
  margin-right: 5px;
  color: #3493db;
}

.login form button,
.signup form button,
.add-game form button,
.add-character form button {
  width: 100%;
  background: #3493db;
  border: 0;
  padding: 5px;
  color: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out;
}

.login form button:hover,
.signup form button:hover,
.add-game form button:hover,
.add-character form button:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.error span {
  color: #ff501c;
  font-weight: bold;
}
/* #FDFF32 */
